@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
@include font-face('ProximaNova', 'ProximaNova-Bold', 700);
@include font-face('ProximaNova', 'ProximaNova-Light', 300);
@include font-face('ProximaNova', 'ProximaNova-Regular', 400);
@include font-face('ProximaNova', 'ProximaNova-Semibold', 600);
@include font-face('ProximaNova', 'ProximaNovaT-Thin', 100);
@include font-face('ProximaNova', 'ProximaNova-Black', 900);

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}
.hidden-block{position:absolute;left:-99999em;top:-99999em;}
/* /helping adds*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{font-size: 22px;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'ProximaNova';background:#fff;color:#3d3d3d;position:relative;line-height: 1.273; font-weight: 400;}
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1; padding:0 15px;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}
.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}
input, textarea{
    &::-webkit-input-placeholder {color:#d1d1d3;}
    &:-moz-placeholder {color:#d1d1d3;opacity:1;}
    &::-moz-placeholder {color:#d1d1d3;opacity:1;}
    &:-ms-input-placeholder {color:#d1d1d3;}
}
ul.c-text{ list-style-type:none;margin: 0;    padding: 0 ;
    li{ position: relative; margin-bottom: 16px; text-indent: 31px;
        &:before{ background-color: #7152d3; width: 8px; height: 8px; display: block; content: ''; position: absolute; left: 8px; top: 11px; transform:rotate(45deg);}
    }
    &--numeric{ margin-left: 74px;
        li{ color: #7152d3;
            &:not(:last-child){min-height: 60px;}
            &:after{ position: absolute; left: -108px; content:attr(data-digit); font-size: 2.182rem; color: #7152d3; font-weight: 900; top: -14px;}
        }
    }
    &--iconed{
        embed{ width: 50px; height: 50px; position: absolute; left: -13px; top: -13px;}
        li{
            &:before{ display: none;}
        }
    }
    a{ font-weight: 600; color: #332262; text-decoration: none; font-size: 1.364rem;
        &:hover{ text-decoration: underline;}
    }
}
i{ font-size:0.8182rem;}
b,strong{ font-size: 1.091rem;}
a{ text-decoration: none; color: inherit;}
h2{ font-size:2.727rem; line-height: 1.2;letter-spacing: -2.3px;}
h3{ font-size:1.818rem; line-height:1.375;}
h5{font-size: 1.091rem; line-height:1.375; }
h6{font-size: 1rem; line-height:1.375; }
h1,h2,h3,h4,h5,h6{color: #332262;
    &.white{ color: #fff;}
}
p{margin: 0.8em 0;}
.caps{ text-transform: uppercase;}
.animated{ position: relative;
    &-ab__left,
    &-ab__right{ background-image: url(../images/animate-ab.png); width: 509px; height: 408px; position: absolute; top: -200px;}
    &-ab__left{ left: -300px;}
    &-ab__right{ right: -300px;}
    &-cd__left,
    &-cd__right{ background-image: url(../images/animate2.png); width: 408px; height: 509px; position: absolute; top: -254px;}
    &-cd__left{ left: -285px;}
    &-cd__right{ right: -204px;}
    &--down{ top: 100px; bottom:auto;}
    &--up{ top: auto; bottom: 100px;}
}
.butter{ width: 35px; height: 35px;  z-index: 20; position: absolute; bottom: 0;left: 50%; transform:translateX(-50%); cursor: pointer; display: none;
    span{ height: 5px; width: 35px; background-color: #fff; display: block; position: absolute; left: 0;
        &:nth-child(1){ top: 0;}
        &:nth-child(2){ top: 10px;}
        &:nth-child(3){ top: 20px;}
    }
    &.active{ width: 70px;
        span{
            &:nth-child(1){ top: 10px; transform: rotate(-380deg); left: 3px;}
            &:nth-child(2){ top: 10px; display: none;}
            &:nth-child(3){ top: 10px; transform: rotate(380deg); left: 33px;}
        }
    }
}
.btn{ min-width: 250px; margin-right: 5px; font-size:0.8182rem; text-transform: uppercase; border-width: 2px; border-radius: 25px; cursor: pointer; display: inline-block;  padding: 11px 24px 10px; margin-bottom: 0; font-weight: 400;  line-height: 1.42857143;  text-align: center;white-space: nowrap; vertical-align: middle; user-select: none; border-style: solid; transition: all 200ms; text-indent: 0;
    &--primary{border-color: #fff; background-color: #fff; color: #21134c;
        &:hover{ background-color: #352993; color: #fff; }
    }
    &--action{border-color: #fff; background-color: transparent; color: #fff;
        &:hover{ background-color: #fff; color: #21134c; }
    }
    &--default{ color: #796d98; border-color: #fff; background-color: #fff; box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.2);
        &:hover{color: #4a2ba2; border-color: #4a2ba2; background-color: #fff;}
        &:active{color: #fff; border-color: #4a2ba2; background-color: #4a2ba2;}
    }
    &--dark{ background-color: #4a2ba2; color: #fff; border-color: transparent;}
    &--fat{font-size: 12px;    min-width: 192px; padding: 21px 24px; letter-spacing: 1px; }
    &--small{ font-size: 14px;    min-width: 192px; padding: 15px 24px; letter-spacing: 1px;}
}
.first-screen{background-image: url(../images/top.png); background-size: cover; background-position: 50% 100%; min-height: 1158px;margin-bottom: -115px; z-index: 10;  position: relative;
    .slick-dots{ bottom: -98px;
        li{ height: auto; width: auto; position: relative;
            button{ width: 8px; height: 8px; font-size: 1rem; background-color: #fff;  border-radius:50%; opacity: 0.3; transition: opacity 200ms; padding: 0;}
            &.slick-active{
                button{ opacity: 1;}
                &:before{ width: 18px; height: 18px; border: 1px solid #fff; content: ''; position: absolute; left: -5px; top: -5px; border-radius: 50%; }
            }
        }
    }
    &.not-main{height: 307px; min-height:1px; background-position: 50% 0; margin-bottom: 0;
        &:before{ background-image: url(../images/notmain.png); height: 100%; content: ''; position: absolute; z-index: 1; bottom: -1px; left:calc(50% - 960px); width: 1920px;}
        &:after{content: ''; background-color: #fff; width: 100%; height: 100%; position: absolute; bottom: -1px; left:calc(50% + 960px);}
    }
}
.flexset{box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.5); background-image: url(../images/flexset.jpg);background-position: 50% 50%; padding: 66px 0 24px;  margin: 45px 0 0;text-align: center; color: #fff;
    &__content{ display: flex; justify-content: center; flex-wrap: wrap; align-items: flex-start; padding-top: 38px;}
    &__item{ width: 360px; margin: 0 10px ; opacity: 0; transition: all 300ms; transform-origin: 50% 100%; transform: scaleY(0);
        &.animate-done{ opacity: 1; transform: scaleY(1);}
    }
    &__img{ height: 117px;}
    &__txt{ min-height: 134px; padding-bottom: 50px;}
    &--white{ background-image: none; color: #757575; background-color: transparent; box-shadow: none;}
}
.footer{background-size: cover; background-position: 50% 0; background-image: url(../images/bot.png); min-height: 640px; padding-top: 320px; font-size: 0.8182rem; color: #fff;
    b{ font-size:0.9091rem;}
    &__logo{ flex-shrink: 0;
        div,
        a{ width: 160px; height: 160px; display: inline-block; }
        svg{ width: 100%; height: 100%;}
    }
    &__txt{ margin: 0 20px; text-align: justify; font-size: 10px;
        b{ font-size: 10px; text-transform: uppercase;}
    }
    &__cols{ display: flex; justify-content: flex-end; align-items: flex-start;}
    &__col{ width: 180px; margin-left: 15px; margin-bottom: 20px;
        a:hover{ text-decoration: underline;}
    }
    &__top{ border-bottom:1px solid #6c4eb6; max-width: 1400px; width: 100%; margin: 0 auto; padding-bottom: 5px;}
    &__wrap{ display: flex; justify-content: space-between; align-items: center;}
    &__bot{ }
    &__socials{ display: flex; justify-content: flex-end; align-items: center; padding-left: 20px; height: 110px;
        a{ width: 47px; height: 47px; background-color: #fff; opacity: 0.2; transition: 150ms; display: flex; justify-content: center; align-items: center; border-radius:50%; margin: 5px;
            &:hover{ opacity: 1;}
        }
    }
    &__copyright{ display: flex; justify-content: space-between; align-items: center;
        a{ text-decoration: underline;
            &:hover{ text-decoration: none;}
        }
    }
}
.global-wrapper{ overflow: hidden; position: relative;}
.header{ position: relative; z-index: 10;
    &__action{ font-weight: 700; font-size:0.5455rem; color: #fff; text-transform: uppercase; padding-top: 53px;
        a{ position: relative; margin-left: 15px; letter-spacing: 1px;
            &:first-child{ margin-left: 0;}
            &:before{ height: 4px; background-color: #5ee0f5; width: 100%; position: absolute; bottom:calc(100% + 49px); opacity: 0; transition: opacity 200ms; content: '';}
            &:hover:before{ opacity: 1;}
        }
    }
    &__wrapper{ display: flex; justify-content: space-between; align-items: flex-start;position: relative;}
    &__logo{ padding-top: 13px;
        div,
        a{ width: 160px; height: 160px; display: inline-block; }
        svg{ width: 100%; height: 100%; }
    }
    &__curs{ position: absolute; left: calc(50% - 585px); top: 170px; border-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: 0px 13px 54px 0px rgba(114, 82, 203, 0.15); width: 200px; text-align: center; padding: 10px; z-index: 990;
        h6{  margin: 0 0 7px; font-size: 0.8182rem;}
        p{ font-size: 0.6182rem; margin-top: 0; margin-bottom: 0;  color: #9fa4af;}
        a{ margin-top: 10px; display: none; min-width: 1px;}
        img{ display: none; margin-bottom: 8px; }
        &:hover{
            img{ display: block;}
            a{ display: block;}
        }
    }
}
.js-acc-hidden{ display: none;}
.js-acc-arrow{ text-decoration: underline; height: 30px; position: absolute; right: 25px; bottom: 0; cursor: pointer;font-size:0.6rem; text-transform: uppercase;
    &.faq__title{ text-decoration: none; height: auto; position: relative; right: auto; bottom:auto;text-transform: none;color: #332262; font-size: 1.364rem; font-weight: 600; padding: 25px 58px 40px 33px; display: block;}
    &:hover{ text-decoration: none;}
}
.js-acc.c-text{
    li{ border-bottom: 1px solid #e8ebf2;    padding: 25px 58px 40px 33px;
        &:last-child{ border-bottom:none;}
        &:before{    left: 39px; top: 35px;}
        .act{ display: none;}
        &.active{border-bottom:none; border-radius: 20px; box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
            .def{ display: none;}
            .act{ display: inline;}
            .faq__arrow{transform: rotate(-45deg);}
        }
    }
}
.main-slider{padding-left: 266px; padding-right: 140px; padding-top: 55px;
    &__wrap{ opacity: 1; transition: opacity 200ms;
        &.slick-initialized{ opacity: 1;}
    }
    &__slide{ color: #fff;
        h3{margin-bottom: 0.65em;}
        p{ line-height: 1.5;}
    }
}
.main{margin-bottom: -360px; z-index: 30; position: relative;}
.nav{ font-size:0.6818rem; text-transform: uppercase; font-weight: 300;
    &__wrap{ list-style-type: none; padding: 0; margin: 0; display: flex; justify-content: space-between; align-items: flex-start;}
    &__link{color: #fff; padding: 53px 15px 0; position: relative;
        a{ position: relative; letter-spacing: 1px;
            &:before{ height: 4px; background-color: #5ee0f5; width: 100%; position: absolute; bottom:calc(100% + 49px); opacity: 0; transition: opacity 200ms; content: '';}
            &:hover:before{ opacity: 1;}
        }
        &:hover{
            .nav__inner{ display: block;}
            &:after{ position: absolute; content: ''; height: 40px; width: 100%; background-color: transparent; top: 90%; left: 0; display: block; }
        }
    }
    &__inner{ position: absolute; top:calc(100% + 21px); left: -9px; list-style-type:none; background-color: #fff; padding: 0; margin: 0; border-radius: 4px; display: none; box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.2);
        &:before{content: ''; width: 0; height: 0; border:12px solid transparent; border-bottom-color: #fff; position: absolute; bottom: 100%; left: 47px; }
        .nav__link{ padding: 0; color: #332262;
            &:not(:last-child){ border-bottom:1px solid #dddddd;}
            a{transition: transform 150ms; display: inline-block; white-space: nowrap; width: 100%; padding: 18px 26px 14px;
                &:before{ height: 100%; width: 4px; bottom: 0; background-color: #7152d3; left: 0;}
                &:hover{ transform: translateX(7px);}
            }
        }
    }
}
.prtty{ padding-top: 98px; padding-bottom: 42px;
    &__wrap{ position: relative; padding-left: 448px;
        h2{ padding-left: 30px;max-width: 584px; width: 100%;}
    }
    &__round{ position: absolute; left: 0; top: 138px;
        .btn{ position: absolute; top: 316px; left: 124px;}
    }
    &__img{ width: 132px; height: 132px; border:10px solid #fff; border-radius: 50%; position: absolute; left: 157px; top: calc(157px + 138px); z-index: 20; overflow: hidden; opacity: 0; transition: opacity 300ms;
        img{ position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); max-width: none;}
    }
    &__main{padding: 20px 23px 23px 23px; transition: all 300ms; margin-bottom: 27px; cursor: default; max-width: 584px; width: 100%;
        &:hover{border-radius: 20px; box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5); overflow: hidden; transform: translateX(-37px); background-color: rgba(255, 255, 255, 0.5);
            &:after{ position: absolute; left: -6px; top: 0; width: 0; height: 100%; content: '';
                border:6px solid transparent;border-right: 6px solid #7152d3;
            }
            & + .prtty__li .prtty__img{ opacity: 1;}
        }
    }
    li.prtty__main:before{ left: 32px;top: 31px;}
    li.prtty__li{ position: static; margin: 0 0 -40px;
        &:before{ display: none;}
    }
}
.rombs{ padding-top: 60px;     padding-bottom: 64px;
    h2{ text-align: center;}
    &__wrap{ position: relative; display: flex; justify-content: space-between; padding: 40px 75px 20px;
        &:before{background-color: rgb(255, 255, 255);  box-shadow: 0px 0px 92px 0px rgba(69, 39, 152, 0.2);transform: rotate(45deg); content: ''; position: absolute; left: calc(50% - 67px); top: 45px; width: 130px; height: 130px; border-radius: 25px; z-index: -1;}
        &:after{background-color: rgb(255, 255, 255);  box-shadow: 0px 0px 92px 0px rgba(69, 39, 152, 0.2);transform:rotate(45deg); content: ''; position: absolute; left: calc(50% - 91px); bottom: -53px; width: 180px; height: 180px; border-radius: 25px; z-index: -1;}
    }
    &__item{  width: 360px; height: 360px; position: relative; z-index: 2; opacity: 0; transform: translateX(-200%); transition: all 300ms;
        &:before{background-color: rgb(255, 255, 255);  box-shadow: 0px 0px 92px 0px rgba(69, 39, 152, 0.2);transform:translate(-50%, -50%) rotate(45deg); content: ''; position: absolute; left: 50%; top: 50%; width: 100%; height: 100%; border-radius: 50px; z-index: -1;}
        &:nth-child(2n){transform: translateX(200%);}
        &.animate-done{transform:translateX(0); opacity: 1;}
    }
    &__img{ height: 178px; display: flex; justify-content: center; align-items: flex-end; padding-bottom: 20px;}
    &__txt{ text-align: center;padding: 8px 20px 0;}
}
.slider{ background-image: url(../images/sss.png); width: 100%; max-width: 1619px; height: 416px; margin: 0 auto; padding: 150px 50px 0; background-position: 50%; background-size:cover ;
    .slick-prev, .slick-next{ background-image: url(../images/arrow.png); width: 50px; height: 83px; font-size: 1rem; z-index: 100;
        &:hover{ opacity: 0.3;}
    }
    .slick-prev{}
    .slick-next{    transform: translate(0, -50%) scaleX(-1);}
    &__wrap{height: 82px; opacity: 0; transition: opacity 200ms;
        &.slick-initialized{ opacity: 1;}
    }
    &__slide--wrap{ text-align: center;width: 100%; display: inline-flex; justify-content: center; align-items: center;height: 82px; margin: 0 10px;
        a{ text-align: center; transition: opacity 150ms; display: inline-block; cursor: pointer;
            &:hover{ opacity: 0.3;}
        }
    }
}
.table{ padding-top: 60px; padding-bottom: 28px;
    h2{ text-align: center;}
    &__wrap{ color: #757575; border-radius: 15px; background-color: rgb(255, 255, 255); box-shadow: 0px 0px 92px 0px rgba(69, 39, 152, 0.2); margin-top: 80px;}
    &__body{overflow-x: auto;}
    &__tr{ display: flex; justify-content: center; align-items: stretch; border:1px solid #fff; min-width: 400px;
        &:first-child{border-top-left-radius: 12px; border-top-right-radius:12px;}
        &.table__th{ font-size:0.8182rem; box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.1);
            &:hover{border:1px solid #fff; background-color: #fff;}
            .table__td{ min-height:96px;}
        }
        &:nth-child(2n){ background-color: #f6f4fa; border-color:  #f6f4fa;
            .table__td{ min-height:65px;}
        }
        &:hover{ border:1px solid rgba(188, 39, 255,1); background-color: #f6f4fa;}
    }
    &__td{ width: 50%; display: flex; justify-content: center; align-items: center; text-align: center; min-height: 50px; padding: 10px;
        &:not(:last-child){border-right: 1px solid #e1e3e8;}
    }
    &__info{ width: 100%; padding: 0 96px 41px; border-top:1px solid #f6f4fa;
        i{text-align: center;padding: 25px 0 14px; width: 100%; display: inline-block;}
    }
    &--col4{
       .table__td{ width: 25%;}
       .table__tr{min-width: 600px;}
    }
    &--col3{
        .table__td{ width: 33%;}
        .table__tr{min-width: 500px;}
    }
}
.text-r{ width: 100%; display: flex; justify-content: space-between; align-items: stretch; padding-bottom: 26px;
    h2{ padding-left: 34px;}
    p{ text-indent: 30px;}
    &__left{ width: 655px;
        &--fl{ text-align: right; display: flex; justify-content: flex-start; align-items: center; width: 630px;}
    }
    &__right{ width: 510px;
        &--fr{ text-align: right; display: flex; justify-content: flex-end; align-items: center; width: 485px;}
    }
}
.viners{
    h2{ text-align: center;}
    h5{ text-align: center;}
    &__wrap{ padding-top: 21px;}
    &__item{ border-radius: 15px; background-color: rgb(255, 255, 255); box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.2); margin: 19px 0 28px; opacity:0; transform: rotateX(90deg); transition:all 400ms ease-out;
        &.animate-done{ opacity: 1;  transform: rotateX(0);}
    }
    &__heading{ height: 96px;  background-color: rgb(255, 255, 255); box-shadow: 0px 30px 92px 0px rgba(69, 39, 152, 0.1); border-top-left-radius:15px; border-top-right-radius:15px; display: flex; justify-content: center; align-items: center; padding: 20px;}
    &__body{ position: relative;  color: #8493a8; display: flex;}
    &__round{ width: 100px; height: 100px; border-radius: 50%; position: absolute; left: 67px; top: -25px;
        &--inner{ width: calc(100% - 4px); height: calc(100% - 4px); position: absolute;  border-radius: 50%; left: 2px; top: 2px; overflow: hidden; display: flex; justify-content: center; align-items: center;}
    }
    &__info{ margin-left: 139px; padding-top: 2px;
        b{ color: #3d4d65; font-weight: 600; margin-bottom: 12px;}
        p{ margin: 10px 0; font-size:0.8182rem; line-height: 1;}
    }
    &__left{border-right: 1px solid #e1e3e8; width: 50%;padding: 20px 20px 20px 67px; min-height: 150px;}
    &__right{ width: 50%; padding: 33px 76px;  line-height: 1.7; font-size:0.6818rem;}
}
.faq{display: flex; justify-content: flex-start; align-items: flex-start; width: 100%;
    &__arrow{border-right:2px solid #7152d3; border-top:2px solid #7152d3; width: 13px; height: 13px; position: absolute; right: 25px; top: 28px; transform: rotate(135deg); }
    &__accord{
        li{ background-color: #fff;}
        .js-acc-hidden{ color: #857aa1; padding: 0 30px 30px;}
        &.js-acc.c-text li{ padding: 0;}
    }
    &__answer{background-color: rgb(255, 255, 255);  box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5); display: flex; justify-content: space-between; align-items: center; padding: 32px 24px; margin-top: 23px;
        .btn{ flex-shrink: 0;}
    }
    &__field{ display: flex; justify-content: flex-start; align-items: center; color: #d1d1d3; width: 100%;
        img{ margin-right: 40px;}
        input{border:none; width: 100%;}
    }
    &__menu{ flex-shrink: 0; width: 365px; padding-top: 228px;
        ul.c-text li{ margin-bottom: 64px;}
    }
    &__content{ width: 100%;}
}
ul.c-text.faq__accord li:before{ opacity: 0; top: 40px;}
ul.c-text.faq__accord li.active:before{ opacity: 1;}
.typo{color: #9fa4af; max-width: 870px; margin: 0 auto; font-size: 18px; text-align: justify;
    p{ text-indent: 30px;}
    h2{ text-align: center; }
    img { margin: 23px 0; border-radius: 20px; background-color: rgb(110, 69, 226); box-shadow: 0px 13px 54px 0px rgba(114, 82, 203, 0.15);  }
}
.backstab{ position: absolute; right: 16px;  top: -74px; cursor: pointer; color: #332262; font-weight: 600;
    &:before{ display: inline-block; content: ''; background-image: url(../images/arrleft.png); width: 16px; height: 14px; margin-right: 12px;}
}
.newslist{
    h2{ text-align: center;}
    &__wrap{ display: flex; justify-content: space-around; flex-wrap: wrap; align-items: flex-start; padding: 23px 0 0; margin: 0 -16px;}
    &__item{  background-color: rgb(255, 255, 255); box-shadow: 0px 13px 54px 0px rgba(114, 82, 203, 0.15); width: 358px; min-height: 460px;  border-radius: 10px; margin: 16px; overflow: hidden; transition: all 200ms;
        &:hover{ box-shadow: 0px 13px 54px 0px rgba(114, 82, 203, 0.25);
            .newslist__img img{transform: scale(1.2)}
        }
    }
    &__img{ width: 100%; height: 216px; overflow: hidden;
        img{object-fit: cover; width: 100%; height: 100%; transition: transform 200ms;}
    }
    &__title{ font-weight: 600; font-size: 1rem; color: #332262; position: relative; height: 74px; display: flex; justify-content: flex-start; align-items: center; padding: 0 28px;letter-spacing: -0.9px;
        &:after{ width: 53px; height: 1px; background-color: #6e45e2; position: absolute; bottom: 0; left: 28px; content: '';}
    }
    &__text{color: rgb(159, 164, 175); line-height: 1.479; font-size: 0.6364rem;  padding: 18px 28px;}
    &__href{ width: 100%; text-align: right;  padding: 10px 28px;
        a{color: rgb(159, 164, 175); text-transform: uppercase; font-size: 0.5455rem; font-weight: 600;
            &:hover{ color: #332262;}
        }
    }
}
.paginator{ margin: 20px auto; position: relative; border-radius: 5px;  background-color: rgb(255, 255, 255); box-shadow: 0px 10px 41px 0px rgba(114, 82, 203, 0.15); max-width: 586px; height: 50px; width: 100%; display: flex; justify-content: space-between; padding: 0 18px; align-items: center;
    ul{ display: flex; justify-content: center; align-items: center; padding: 0;}
    li{ color: #9fa4af; font-size: 0.6364rem; list-style-type: none;  border-radius: 5px; padding: 4px 6px; margin: 0 2px; min-width: 25px; text-align: center; transition: background-color 200ms;
        &:hover,
        &.active{background-color: rgb(110, 69, 226); color: #fff;
            &:before,
            &:after{ border-color: #fff;}
        }
        &.first-child{  display: flex; justify-content: center; align-items: center;
            &:before{ width: 12px; height: 12px;  border-top:2px solid #9fa4af; border-left:2px solid #9fa4af; transform:rotate(-45deg); content:''; position: relative; display: inline-block; margin-right: 7px;}
        }
        &.last-child{display: flex; justify-content: center; align-items: center;
            &:after{ width: 12px; height: 12px;  border-top:2px solid #9fa4af; border-right:2px solid #9fa4af; transform:rotate(45deg); content:''; position: relative; display: inline-block; margin-left: 7px;}
        }
    }
}
@media screen and (max-width: 1920px){
    .first-screen.not-main:before{ left: 0;}
}
@media screen and (max-width: 1500px){
    .animated-ab__right{ right: -380px;}
}
@media screen and (max-width: 1200px){
    .nav__link { padding: 53px 5px 0; }
    .main-slider{ padding-top: 0;}
    .animated { opacity:0.5;}
    .animated-ab__left { left: -150px;}
    .animated-ab__right{ right: -150px;}
    .animated-ab__left, .animated-ab__right {width: 254px;height: 204px;background-size: cover;}
    .animated-cd__left { left: -140px; }
    .animated-cd__right{ right: -105px; }
    .animated-cd__left, .animated-cd__right {width: 204px;height: 254px;background-size: cover;}
    .header__curs{ left: 15px;}
}
@media screen and (max-width: 1100px){
    .faq__menu{ width: 100%; padding-top: 0;
        ul.c-text li{ margin-bottom: 6px; margin-right: 16px;}
        ul.c-text{ display: flex; flex-wrap: wrap;
            a{ font-size:1rem;}
        }
    }
    .faq__content{ width: 100%;}
    .faq{ flex-direction: column;}
}
@media screen and (max-width: 992px){
    html{ font-size: 18px;}
    .butter{ display: block;}
    .nav{
        &__wrap{ flex-direction: column;}
        &__link{ padding-top: 0; font-weight: 600; width: 100%;
            a{ width: 100%; padding: 10px 0; display: inline-block;
                &:before{ display: none;}
            }
        }
        &__inner{ display: block; position: relative; background-color: transparent; top:auto; margin-bottom: 15px; box-shadow: none;
            &:before{ display: none;}
            .nav__link{ color: #fff;
                &:not(:last-child){border-bottom:none;}
                a{ padding: 8px 26px;
                    &:hover{transform: translateX(0);}
                }
            }
        }
    }
    .header__menu{ position: absolute; padding: 25px 25px 45px; left: 50%; width: 400px; border:2px solid #fff; border-bottom-left-radius: 25px;  border-bottom-right-radius: 25px; border-top:0; background-color: #4723a5;  transform: translate(-50%, -100%); top: 46px; transition: all 300ms;
        &.active{transform: translate(-50%, 0); top: 0;}
    }
    .main-slider{ padding-left: 50px; padding-right: 50px;}
    .first-screen { background-size: 252%; background-position: 0 0; min-height: 1px; margin-bottom: 0; padding-bottom: 45px; background-color: #2b2180;
        .slick-dots {  bottom: -64px;  }
    }
    .animated{ display: none;}
    .text-r__left,
    .text-r__right { width: 100%;   }
    .text-r__right--fr,
    .text-r__left--fl{position: absolute; pointer-events: none;  z-index: -1;  opacity: 0.18;  justify-content: center; height: 100%; left: 0;}
    .prtty__round{ display: none;}
    .prtty__wrap{ padding-left: 0;}
    .prtty{ padding-top: 50px;}
    .prtty__wrap h2{ max-width:none; text-align: center;}
    .prtty__main{ margin: 0 auto; pointer-events: none;}
    .footer__txt{ display: none;}
    .footer__copyright{ flex-direction: column-reverse; justify-content: center; padding-top: 15px; text-align: center;}
    .slider .slick-next {  right: -50px; }
    .slider .slick-prev {  left: -50px;  }
    .btn{ margin-bottom: 15px;}
    .btn{
        &--primary:hover{ background-color: #fff; color: #21134c;}
        &--action:hover{ background-color: transparent; color: #fff; }
        &--default:hover{ color: #c2c9db; border-color: #fff; background-color: #fff;}
    }
    .viners__round{ left: 30px;}
    .viners__info{ margin-left: 100px;}
    .viners__right{ padding: 25px;}
    .viners__left{ min-height: 1px;}
    ul.c-text.faq__accord li.active:before{ top: 36px;}
    .header__curs{ top: 86px; left:calc(50% - 100px);}
}
@media screen and (max-width: 768px){
    .header__curs{ top: 160px; left:auto; right: 15px;}
    .header__logo{ padding-top: 70px; width: 35%;}
    .header__action{ padding-top: 80px;
         a:before{ display: none;}
    }
    .header__menu{ left: 15px; width: calc(100% - 30px);transform: translate(0, -100%); z-index:20;
        &.active{transform: translate(0, 0);}
    }
    .footer__logo{ display: none;}
    .footer__cols{ width: 100%; justify-content: space-around;}
    .footer__socials a{ opacity: 1;}
    .main-slider{ padding-left: 0; padding-right: 0; text-align: center;}
    .js-acc.c-text li.active{ background-color: #fff;}
    .rombs__wrap{ flex-direction: column; justify-content: center; align-items: center;
        &:before{ left: 0;}
        &:after{ right: 0; left: auto;}
    }
    .main{ padding-top: 90px;}
    .rombs__item {  width: 240px;  height: 240px;}
    .rombs__img{ height: 122px;}
    .table__info { padding: 0 20px 41px; }
    .first-screen.not-main{ height: 245px; z-index: 200;
        &:before, &:after{ display: none;}
    }
    .table{ padding-top:0; padding-bottom: 50px;}
    .viners__body{ flex-direction: column;}
    .viners__left{ width: 100%; border-right: none; padding-bottom: 0; }
    .viners__right{ width: 100%;}
    .viners__round{ top: 14px;}
    .faq__answer{ flex-direction: column;}
    .faq__field{ justify-content: center; align-items: center;}
    .faq__answer .btn{ margin-top: 40px;}
}
@media screen and (max-width: 480px){
    html{ font-size: 16px;}
    .js-acc-arrow.faq__title{text-indent: 0px; padding-bottom: 0;}
    ul.c-text.faq__accord li.active:before{left: 14px; top: 35px;}
    ul.c-text li:before{ top: 6px;}
    .header__curs{ top: 230px; left:calc(50% - 100px); right: auto;}
    .header__logo{  width: 50%;}
    .header__wrapper{ padding-bottom: 60px;}
    .header__curs h6{ margin-bottom: 0;}
    .prtty__wrap h2,
    .text-r h2{ padding-left: 0;}
    .js-acc.c-text li { padding: 15px 40px 15px 15px;
        &:before {  left: 28px; top: 21px; }
    }
    .prtty__main {  padding: 20px 0 23px;}
    .prtty li.prtty__main:before { left: 10px;  top: 27px; }
    .js-acc-arrow{ right: 12px;}
    ul.c-text--numeric{ margin-left: 0;}
    h2 {font-size: 2.2rem;letter-spacing: 0px; }
    .first-screen{ background-image: none;}
    .footer__socials{ margin-bottom: 20px;}
    .footer__copyright{ height: auto;}
    .main{ padding-top: 30px;}
    .first-screen.not-main { height: 295px;}
    .viners__round{ left: 14px;}
    .viners__info{ margin-left: 57px;}
    .viners__heading{ height: auto;}
    .paginator li{min-width: 1px; padding: 4px; margin: 0;}
    .backstab{ top: -35px;}
    .js-acc-arrow{ height: 18px;}
}
.gradient{
    background: rgba(33,107,255,1);
    background: -moz-linear-gradient(top, rgba(33,107,255,1) 0%, rgba(187,39,255,1) 57%, rgba(187,39,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,107,255,1)), color-stop(57%, rgba(187,39,255,1)), color-stop(100%, rgba(187,39,255,1)));
    background: -webkit-linear-gradient(top, rgba(33,107,255,1) 0%, rgba(187,39,255,1) 57%, rgba(187,39,255,1) 100%);
    background: -o-linear-gradient(top, rgba(33,107,255,1) 0%, rgba(187,39,255,1) 57%, rgba(187,39,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(33,107,255,1) 0%, rgba(187,39,255,1) 57%, rgba(187,39,255,1) 100%);
    background: linear-gradient(to bottom, rgba(33,107,255,1) 0%, rgba(187,39,255,1) 57%, rgba(187,39,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#216bff', endColorstr='#bb27ff', GradientType=0 );
}

.Прямоугольник__скругл__углы_8 {

    position: absolute;
    left: 917px;
    top: 1922px;
    width: 25px;
    height: 25px;
    z-index: 176;
}

