<section class="flexset">
    <div class="mbox">
        <div class="flexset__wrap">
            <h2 class="white">Наши приоритеты</h2>
            <div class="flexset__content">
                <div class="flexset__item">
                    <div class="flexset__img">
                        <img src="images/flexset01.png" alt="">
                    </div>
                    <div class="flexset__txt">Абсолютная прозрачность и надежность всех операций</div>
                </div>
                <div class="flexset__item">
                    <div class="flexset__img">
                        <img src="images/flexset02.png" alt="">
                    </div>
                    <div class="flexset__txt">Оптимальные и сбалансированные стратегии инвестирования</div>
                </div>
                <div class="flexset__item">
                    <div class="flexset__img">
                        <img src="images/flexset03.png" alt="">
                    </div>
                    <div class="flexset__txt">Гибкие условия для инвестора - минимальный взнос от 100 USD </div>
                </div>
                <div class="flexset__item">
                    <div class="flexset__img">
                        <img src="images/flexset04.png" alt="">
                    </div>
                    <div class="flexset__txt">Помощь и консультация на всех этапах сотрудничества</div>
                </div>
                <div class="flexset__item">
                    <div class="flexset__img">
                        <img src="images/flexset05.png" alt="">
                    </div>
                    <div class="flexset__txt">Собственная система оценки проектов для инвестирования</div>
                </div>
            </div>
        </div>
    </div>
</section>