<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="footer__top">
        <div class="mbox">
            <div class="footer__wrap">
                <div class="footer__logo">
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="footer__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
                <div class="footer__cols">
                    <div class="footer__col">
                        <b>Клиентам</b>
                        <p><a href="#">Вход</a></p>
                        <p><a href="#">Регистрация</a></p>
                        <p><a href="#">Поддержка</a></p>
                        <p><a href="#">Новости</a></p>
                    </div>
                    <div class="footer__col">
                        <b>Информация</b>
                        <p><a href="tel:7 495 999 00 00">+7 495 999 00 00</a></p>
                        <p><a href="callto:cmfund">skype: cmfund</a></p>
                        <p><a href="mailto:info@cmf.com">info@cmf.com</a></p>
                        <p><a href="mailto:info@cmf.com">tlg: @cmfund</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bot">
        <div class="mbox">
            <div class="footer__copyright">
                <p>© 2018. Все права защищены. <a href="#">Ограничение ответственности.</a> <a href="#">Безопасность.</a></p>
                <div class="footer__socials">
                    <a href="#" target="_blank"> <img src="images/ic-vk.png" alt=""></a>
                    <a href="#" target="_blank"> <img src="images/ic-fb.png" alt=""></a>
                    <a href="#" target="_blank"> <img src="images/ic-tw.png" alt=""></a>
                    <a href="#" target="_blank"> <img src="images/ic-in.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 130917;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">

<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">

<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
