<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="header__menu">
                    <nav class="nav">
                        <ul class="nav__wrap">
                            <li class="nav__link"><a href="#"><span>О компании</span></a></li>
                            <li class="nav__link"><a href="#"><span>Инвестору</span></a></li>
                            <li class="nav__link"><a href="#"><span>Партнеру</span></a></li>
                            <li class="nav__link"><a href="#"><span>Новости</span></a></li>
                            <li class="nav__link"><a href="#"><span>Контакты</span></a></li>
                            <li class="nav__link"><a href="#"><span>Розыгрыши</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__action">
                    <a href="#">login</a>
                    <a href="#">sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

