<section class="prtty">
    <div class="mbox">
        <div class="prtty__wrap">
            <div class="prtty__round">
                <img src="images/prtty00.jpg" alt="">
                <a href="#" class="btn btn--default btn--small">Открыть вклад</a>
            </div>
            <h2>Наши преимущества</h2>
            <ul class="c-text">
                <li class="prtty__main">
                    <b>Цель</b> - получение прибыли - Фонд является коммерческим предприятием, созданным с целью получения прибыли
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty01.jpg" alt="">
                    </div>
                </li>
                <li class="prtty__main">
                    <b>Фиксированный доход</b> - на вклад начисляется стабильная ежемесячная прибыль
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty02.jpg" alt="">
                    </div>
                </li>
                <li class="prtty__main">
                    <b>Минимальный размер инвестиций</b> - 10 000 руб. или эквивалент в криптовалютах Биткойн/Эфириум.
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty03.jpg" alt="">
                    </div>
                </li>
                <li class="prtty__main">
                    <b>Открытие вклада - бесплатно</b> - Открытие и закрытие инвестиционного вклада без какой-либо комиссии
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty04.jpg" alt="">
                    </div>
                </li>
                <li class="prtty__main">
                    <b>Быстрый оборот средств </b>- Получение прибыли и возможность снятия её - каждые две недели
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty05.jpg" alt="">
                    </div>
                </li>
                <li class="prtty__main">
                    <b>Минимальный срок инвестиций </b> - Срок инвестирования от 3-х месяцев
                </li>
                <li class="prtty__li">
                    <div class="prtty__img">
                        <img src="images/prtty06.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>