<section class="rombs">
    <h2>Преимущества</h2>
    <div class="rombs__wrap">
        <div class="rombs__item">
            <div class="rombs__img"><img src="images/r01.png" alt=""></div>
            <div class="rombs__txt">Доход с неограниченного количества уровней</div>
        </div>
        <div class="rombs__item">
            <div class="rombs__img"><img src="images/r02.png" alt=""></div>
            <div class="rombs__txt">Доход фиксируется мгновенно и доступен сразу на вывод </div>
        </div>

    </div>
</section>