<section class="table">
    <h2>Таблица реферальный бонусов</h2>
    <div class="table__wrap">
        <div class="table__body">
            <div class="table__tr table__th">
                <div class="table__td">Порядковый номер уровня структуры</div>
                <div class="table__td">Процент (%) от вклада от каждого инвестора вашей структуры</div>
            </div>
            <div class="table__tr">
                <div class="table__td">1 уровень*</div>
                <div class="table__td">5</div>
            </div>
            <div class="table__tr">
                <div class="table__td">2 уровень</div>
                <div class="table__td">3</div>
            </div>
            <div class="table__tr">
                <div class="table__td">3 уровень</div>
                <div class="table__td">1,5</div>
            </div>
            <div class="table__tr">
                <div class="table__td">4 уровень</div>
                <div class="table__td">1</div>
            </div>
            <div class="table__tr">
                <div class="table__td">5 уровень</div>
                <div class="table__td">0,5</div>
            </div>
            <div class="table__tr">
                <div class="table__td">6 уровень</div>
                <div class="table__td">0,1</div>
            </div>
        </div>
        <div class="table__info">
           <i>*приглашенные лично вами</i>
            <p><b>Пример:</b> Если вы привлекли инвестора (1 уровень) с депозитом 100 000, то получите 5% от этой суммы (100 000 руб. * 5% = 5 000 руб.)</p>
            <p>Далее если ваш приглашенный привлек инвестора (2 уровень) на 1 000 000, то вы получите (1 000 000 руб. * 3% = 30 000 руб.)</p>
        </div>

    </div>
</section>