<div class="mbox">
    <section class="text-r">
        <div class="text-r__left text-r__left--fl">
            <img src="images/text-r.png" alt="">
        </div>
        <div class="text-r__right">
            <h2>Почему именно криптовалюта </h2>
            <p>Как всем уже известно, криптовалюты это децентрализованные денежные средства. Они не подвержены влиянию центральных банков, не имеют единого центра управления и обладают огромным потенциалом роста при это сохраняя высокую ликвидность. Давайте сравним классические инструменты для инвестирования и криптовалюту за 2017 год.</p>
            <ul class="c-text">
                <li><b>Доходность золота  - 7,5%</b></li>
                <li><b>Банковские вклады - 8-9%</b></li>
                <li><b>Биткоин - 1178%</b></li>
            </ul>
            <p>Вы все еще думаете куда вложить ваши деньги? В Сбербанк или криптовалюту? Тогда вспомните про ежегодный уровень инфляции, который в 2017 году составил более 8%!</p>
            <p>Выбор очевиден.</p>
        </div>
    </section>
</div>
<section class="animated">
    <div class="animated-ab__left"></div>
    <div class="animated-ab__right"></div>
</section>
<div class="mbox">
    <section class="text-r">
        <div class="text-r__left">
            <h2>Основные направления деятельности нашего фонда:</h2>
            <ul class="c-text js-acc">
                <li>
                    <div class="js-acc-arrow"><span class="def">Подробнее</span><span class="act">Свернуть</span></div>
                    <b> Инвестирование в криптовалюту и трейдинг</b>
                    <div class="js-acc-hidden" >
                        <p>Биржа криптовалют ничем не отличается от классической биржи, за исключение того что на ней торгуется криптовалюта, а не газ или золото. За счет ежедневной балансировки нашего портфеля активов мы будем добиваться постоянного роста и, как следствие, стабильности выплат.</p>
                        <p>Криптовалюты демонстрируют яркую динамику: рост за сутки может составлять более 1000%. На длительном периоде некоторые криптовалюты показывают рост более чем в 10 000%.</p>
                    </div>
                </li>
                <li>
                    <div class="js-acc-arrow"><span class="def">Подробнее</span><span class="act">Свернуть</span></div>
                    <b>Майнинг - создание собственных майнинговых центров в России и зарубежом;</b>
                    <div class="js-acc-hidden">
                        <p>Для стабильной работы фонда и гарантирования сохранения вашей доходности, мы создаем центры майнинга. Это позволит значительно снизить риски и обеспечить устойчивость выплат, вне зависимости от волатильности курсов криптовалют</p>
                    </div>
                </li>
                <li>
                    <div class="js-acc-arrow"><span class="def">Подробнее</span><span class="act">Свернуть</span></div>
                    <b>Продвижение и раскрутка перспективных проектов, будущих “единорогов” - проектов, капитализация которых превысила 1 000 000 000,00  долларов США</b>
                    <div class="js-acc-hidden">
                        <p>Первую пиццу за биткоины купили в 2010 году за 10 000 биткоинов. Сейчас эта пицца стоила бы 100 000 000,00 долларов США. Акции компании Apple. Если бы вы купили 20 лет назад 10 000 акций всего за 6 000 долларов США, то сегодня бы вы имели капитал равный 1 320 000,00 долларов США! Мы не хотим чтобы ВЫ пропустили такую возможность и тщательно отбираем проекты, которые могут принести 10 000% и более процентов прибыли</p>

                    </div>
                </li>
            </ul>
        </div>
        <div class="text-r__right text-r__right--fr">
            <img src="images/text-r2.jpg" alt="">
        </div>
    </section>
</div>
